<form action="/posts" method="post">
  <p><label for="post_name">Post Name</label></p>
  <p><input type="text" name="name" id="name"></p>
  <p><label for="post_title">Post Content</label>
  <p><input type="text" name="content" id="content"></p>
  <input type="submit" name="" value="submit">
</form>
